In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("activities.csv")

In [3]:
new_category = {"ACTIVITY_ID":116, "NAME":"relaxing"}
df = df.append(new_category, ignore_index=True)
df.to_csv("activities.csv")

    ACTIVITY_ID                 NAME
0           101              jogging
1           102              walking
2           103             standing
3           104              sitting
4           105               stairs
5           106       brushing teeth
6           107               eating
7           108  eating with fingers
8           109    drinking from cup
9           110              writing
10          111       lifting weight
11          112      folding clothes
12          113          having bath
13          114       washing plates
14          115             lying on
15          116             relaxing